@media only screen and (max-width: 1024px) {
	.title{
		left: 0;
		h2{
			font-size: 25px;
		}
	}
	.header__logo{
		width: 130px;
	}
	.header__top a{
		font-size: 15px;
	}
	.header__top, .header__menu {
	   width: calc(100% - 140px);
	}
	.header__menu li{
		margin-right: 14px;
	}
	.header__menu li a{
		font-size: 12px;
	}
	.tel-icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 17px;
    height: 19px;
    top: 3px;
    position: relative;
	}
	.header__top .header__callback {
    float: right;
    min-width: 130px;
    height: 30px;
		font-size: 14px;
		margin-right: 0;
	}
	.header__top select{
		font-size: 14px;
		margin: 0;
	}
	.video-section__wrap{
		width: 100%;
		left: 0;
		margin-top: -41%;
	}
	.video-section h1{
		font-size: 30px;
	}
	.video-section p{
		font-size: 20px;
		span{
			font-size: 20px;
		}
	}
	.video-section a{
		font-size: 16px;
	}
	.video-section a .down-arrow{
		margin-top: 76px;
	}
	.howtowork__video{
		background-size: 98%;
	}
	.howtowork__video iframe {
    width: 305px;
    height: 229px;
    position: absolute;
    left: 38px;
    top: 13px;
	}
	.gallery-slider {
    width: 89%;
	}
	button.slick-prev.slick-arrow {
    left: -45px;
	}
	button.slick-next.slick-arrow {
    right: -51px;
	}

	.slick-for{
		.item{
			width: 100%;
		}
	}
	.about__wrap_thumb{
		width: 536px;
		float: none;
		position: relative;
		margin: 0 auto;
	}
	.about__wrap_text{
		width: 400px;
		margin: 20px auto 0;
		display: inline-block;
		float: none;
		height: auto;

	}
	.touchscreen_info{
		width: 100%;
		float: left;
		padding: 0 20%;
		box-sizing: border-box;

	}
	.flip-clock-wrapper ul{
		width: 57px;
	}
	.touchscreen_info_pic{
		width: 100%;
	}
	.system{
		padding-left: 0;
		padding-right: 0;
	}
	.system__pic{
		width: 100%;
		img{
			size: 100%;
		}
	}
	.system__wrap{
		padding: 0;

	}
	.system__wrap_item{
		width: 32%;
	}
	.contacts__wrap {
    width: calc(100% - 500px);
	}
	#map{
		width: 500px;
	}
	.touchscreen__form{
		width: 425px;
		margin: 30px auto 0;
		float: none;
		display: inline-block;
	}
	.touchscreen{
		text-align: center;
	}
}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 770px) {

}

@media only screen and (max-width: 736px) {
	button.slick-prev.slick-arrow {
    left: -28px;
	}
	button.slick-next.slick-arrow {
    right: -28px;
	}
	.slick-next, .slick-prev {
		display: block;
		width: 23px;
		height: 60px;
	}
	.advantages__wrap_item{
		padding: 0;
	}
	.header__top select {
    position: absolute;
    left: -60px;
		margin-top: 51px;

	}
	.modals{
		width: 100%;
		margin-top: calc(100% - 258.5px);
		margin-left: 0;
	}
	.toggle_mnu{
		display: block;
	}
	.header__menu{
		display: none;
		width: 128px;
		background-color: #fff;
		padding: 10px;
		box-sizing: border-box;
		margin-top: 1px;
		li{
			margin: 3px 0;
		}
	}
	.header__menu li.active:after, .header__menu li.active:before{
		bottom: -2px;
	}
	.header__logo {
    height: 41px;
	}
	.howtowork__list{
		width: 100%;
		padding-left: 0;
	}
	.howtowork__video{
		width: 100%;
	}
	.advantages__wrap{
		display: none;
	}
	.advantages{
		text-align: center;
	}
	.advantages__wrap_slider{
		display: block;
		width: 80%;
		margin: 0 auto;
		float: none;
	}
	.slick-next:before, .slick-prev:before {
	    content: "";
	    background-repeat: no-repeat;
	    background-size: contain;
	    display: block;
	    width: 22px;
	    height: 42px;
	}
	.advantages__wrap_item .title{
		font-size: 16px;
	}
	.about-item .thumb {
	    width: 89px;
	    height: 143px;
	  img{
			width: 100%;
		}
	}
	.stages__wrap{
		height: auto;
		padding: 30px 0 10px;
		box-sizing: border-box;
	}
	.system__wrap_item {
	    width: 46%;
	}
	.stages__wrap_item{
		position: relative;
		left: 0;
		margin-top: 0;
		margin-bottom: 20px;
		float: left;
		width: 100%;
		.rect{
			float: left;
			margin-right: 30px;
		}
		p{
			float: left;
			text-align: left;
			width: calc(100% - 90px);
		}
	}
	.stages__wrap_item:first-of-type{
		left: 0;
		margin-top: 0;
	}
	.stages__wrap_item:nth-of-type(2){
		left: 0;
		margin-top: 0;
	}
	.stages__wrap_item:nth-of-type(3){
		left: 0;
		margin-top: 0;
	}
	.stages__wrap_item:nth-of-type(4){
		left: 0;
		margin-top: 0;
	}
	.stages__wrap_item:nth-of-type(5){
		left: 0;
		margin-top: 0;
	}
	.stages__wrap_item:nth-of-type(6){
		left: 0;
		margin-top: 0;
	}
	.gallery .slider-nav{
		display: none;
	}
	.about__wrap_thumb{
		width: 100%;
		height: 200px;
	}
	.contacts__wrap{
		width: 100%;
	}
	.contacts__wrap_row{
		width: 50%;
	}
	#map{
		width: 100%;
	}
	.touchscreen__form{
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.header__top a {
    font-size: 13px;
}
}

@media only screen and (max-width: 320px) {

}
