.about{
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  background-color: #899dd6;
  padding: 50px 0;
  box-sizing: border-box;
  .title {
    position: absolute;
    left: 0;
    margin-top: -129px;
  }
}

.about__wrap{
  width: 100%;
  float: left;
  position: relative;
}

.about__wrap_thumb{
  width: 100%;
  height: 480px;
  float: left;
  position: relative;
  margin-right: 10px;
  img{
    size: 100%;
  }
}

.about__wrap_text{
  width: 100%;
  float: left;
  margin-top: 10px;
  background-color: #4e65a6;
  box-shadow: 6.4px 6.4px 0 rgba(12, 21, 58, 0.46);
  padding: 20px 40px;
  box-sizing: border-box;
  p{
    width: 100%;
    text-align: center;
    font-size: 15px;
    // font-weight: 700;
    // line-height: 16px;
    font-family: $b;
    color: #fff;
  }
}

.about-items{
  width: 100%;
  float: left;
  position: relative;
  margin-top: 60px;
}

.about-item{
  width: 33.3%;
  float: left;
  text-align: center;
  .thumb{
    width: 150px;
    height: 160px;
    float: none;
    margin: 0 auto 20px;
    display: inline-block;
  }
  span{
    width: 100%;
    float: left;
    text-align: center;
    color: #fffefe;
    font-family: $b;
    font-size: 30px;
    // font-weight: 700;
    line-height: 16px;

  }
  p{
    width: 100%;
    float: left;
    text-align: center;
    color: #fffefe;
    font-family: $r;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
}
