.howtowork{
  width: 100%;
  float: left;
  position: relative;
  background-color: #fff;
  padding: 45px 0 150px;
  box-sizing: border-box;
}


.howtowork__video{
  width: 60%;
  float: left;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../img/ipad.png");
  height: 325px;
  // background-size: contain;
  video{
    width: 375px;
height: 273px;
position: absolute;
left: 54px;
  }
}

.howtowork__list{
  width: 40%;
  float: left;
  position: relative;
  padding-left: 55px;
  box-sizing: border-box;
}

.howtowork__list_item{
  width: 100%;
  float: left;
  position: relative;
  text-align: left;
  .number{
    float: left;
    position: relative;
    color: #4e65a6;
    font-family: $b;
    font-size: 36px;
    font-weight: 700;
    position: relative;
    top: 15px;
    margin-right: 20px;
  }
  p{
    width: calc(100% - 55px);
    float: left;
    color: #555;
    font-family: $r;
    font-size: 17px;
    font-weight: 400;
    line-height: 16px;
  }
}
