.stages{
  width: 100%;
  float: left;
  position: relative;
  background-repeat: no-repeat;
  padding: 40px 0 0;
  box-sizing: border-box;
  .title{
    margin-bottom: 15px;
  }
}

.stages__wrap{
  width: 100%;
  float: left;
  position: relative;
  background-image: url("../img/steps-fon.png");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.stages__wrap_item{
  float: left;
  position: absolute;
  width: 200px;
  text-align: center;
  .rect{
    float: none;
    display: inline-block;
    margin: 0 auto 15px;
    border: 2px solid #fff;
    width: 45px;
    height: 45px;
    background-color: #4e65a6;
    transform: rotate(45deg);
    z-index: 2;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(32,41,80,1);
      -moz-box-shadow: 0px 0px 12px 3px rgba(32,41,80,1);
      box-shadow: 0px 0px 12px 3px rgba(32,41,80,1);
    &:hover{
      background-color: #fb2f2f;
    }
    span{
      transform: rotate(-45deg);
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      line-height: 45px;
      font-family: $b;
      &:hover{
        background-color: #fb2f2f;
      }
    }
  }
  p{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-family: $r;
    text-align: center;
    margin-top: 0;
    position: relative;
    z-index: 10;
    b{
      font-family: $b;
    }
  }
  &:nth-of-type(1){
    left: 4%;
    margin-top: 41px;
    position: relative;
    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      height: 2px;
      width: 100%;
      margin-top: -130px;
      z-index: 0;
      background-color: #fb2f2f;
    }
  }
  &:nth-of-type(2){
    left: 28%;
    margin-top: 42px;
    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      height: 2px;
      width: 100%;
      margin-top: -130px;
      z-index: 0;
      background-color: #fb2f2f;
    }
  }
  &:nth-of-type(3){
    left: 51%;
    margin-top: 41px;
    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      height: 2px;
      width: 100%;
      margin-top: -153px;
      z-index: 0;
      background-color: #fb2f2f;
    }
  }
  &:nth-of-type(4){
    left: 75%;
    margin-top: 41px;
    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      height: 2px;
      width: 100%;
      margin-top: -106px;
      z-index: 0;
      background-color: #fb2f2f;
    }
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      height: 150px;
      width: 2px;
      right: -102px;
      margin-top: 24px;
      z-index: 0;
      background-color: #fb2f2f;
    }
  }
  &:nth-of-type(5){
    left: 26%;
    margin-top: 272px;
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      height: 2px;
      width: 60%;
      margin-top: 25px;
      left: -35px;
      z-index: 0;
      background-color: #fb2f2f;
    }
    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      height: 87px;
      width: 2px;
      left: -35px;
      margin-top: -190px;
      z-index: 0;
      background-color: #fb2f2f;
    }
  }
  &:nth-of-type(6){
    left: 50%;
    margin-top: 272px;
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      height: 2px;
      width: 100%;
      margin-top: 25px;
      left: -104px;
      z-index: 0;
      background-color: #fb2f2f;
    }
    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      height: 2px;
      width: 807px;
      margin-top: -189px;
      left: -265px;
      z-index: 0;
      background-color: #fb2f2f;
    }
  }
}
