.tel-icon{
  background-image: url("../img/icons/tel-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 25px;
  height: 26px;
  float: left;
  float: left;
  margin-right: 5px;
}
